/* General Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Mobile Menu Icon */
.mobile-menu {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background: url('sobi/1v.png') no-repeat center center/cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.25rem;
    margin: 20px 0;
}

.cta {
    background-color: transparent;
    color: rgb(38, 241, 191);
    padding: 0.75rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius:5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cta:hover {
    background-color: #ff795c;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .mobile-menu {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }

    .portfolio-items {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

